*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
 
:root{
 
 
    --blanco: rgb(231, 216, 216);
    --rojo: #f58f8f;
    --negro: rgb(24, 14, 14);
}
 
body{
 
    min-height: 100vh;
    color:  var(--negro);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 
}
 
.navbar-maskot{
 
 
    background-color: white;
    padding: 10px p;
    box-shadow: 0 4px 15px rgb(0, 0, 0);
    top: 0;
    z-index: 1000;
 
 
}
 
 
.logo{
    width: 85px;
}
 
 
.marca{
 
 
    color: var(--rojo);
    font-size: 32px;
    font-weight: 700;
}
.opcion-menu{
   
    color: var(--);
 
}